
<!-- <video #videoPlayer controls autoplay muted [src]="videoUrl" width="640" height="360"></video> -->


<!-- <div>
  <h2>Streaming Videos</h2>
  
  <div *ngFor="let video of videos">
    <h3>{{ video.title }}</h3>
    <video width="480" height="270" controls autoplay>
      <source [src]="video.url" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div> -->


<div *ngFor="let video of videos">
  <div (click)="selectVideo(video)" class="video-card">
    <h3>{{ video.title }}</h3>
  </div>
</div>

<!-- Display the selected video for streaming -->
<div *ngIf="selectedVideo">
  <h2>Now Playing: {{ selectedVideo.title }}</h2>
  <video *ngIf="selectedVideo.url" [src]="selectedVideo.url" controls autoplay></video>
</div>




<!-- 
ipconfig : ip adress:-192.168.2.28

Share this link to access video 
http://192.168.2.28:8080/api/video/stream/range/2542c662-a123-4092-86b7-5a7b40ee973c   -->